{% extends "base.html" %}
{% block content %}

<body>
    <div class="pagina-inicial">
        <header class="cabecalho">
         
                 
                </div>
            </div>
        </header>
        <main class="principal">
            <section class="menu-lateral">
                <nav class="menu-lateral__navegacao">
                  
                </nav>
            </section>
            <section class="conteudo">
                <section class="banner">
                  
                    <h1 class="banner__titulo"> INFOMED</h1>
                </section>
                <section class="tags">
                    <p class="tags__titulo">Busque por tags:</p>
                    <ul class="tags__lista">
                        <li class="tags__tag">Nebulosa</li>
                        <li class="tags__tag">Estrela</li>
                        <li class="tags__tag">Galáxia</li>
                        <li class="tags__tag">Planeta</li>
                    </ul>
                </section>
                <section class="galeria">
                    <div class="cards">
                        <h2 class="cards__titulo">Conhceça nossos serviços</h2>
                        <ul class="cards__lista">
                            <li class="card">
                              
                                   
                                </a>
                                <span class="card__tag">Consultas</span>
                                <div class="card__info">
                                    <p class="card__titulo">Exames</p>
                                    <div class="card__texto">
                                        <p class="card__descricao">Fonte/fotógrafo/satélite</p>
                                        <span>
                                          
                                        </span>
                                    </div>
                                </div>
                            </li>
                            <li class="card">
                              
                                  
                                </a>
                                <span class="card__tag">Estrelas</span>
                                <div class="card__info">
                                    <p class="card__titulo">Quinteto de Stephan</p>
                                    <div class="card__texto">
                                        <p class="card__descricao">Fonte/fotógrafo/satélite</p>
                                        <span>
                                        
                                        </span>
                                    </div>
                                </div>
                            </li>
                            <li class="card">
                            
                              
                                </a>
                                <span class="card__tag">Estrelas</span>
                                <div class="card__info">
                                    <p class="card__titulo">Galáxia Cartwheel</p>
                                    <div class="card__texto">
                                        <p class="card__descricao">Fonte/fotógrafo/satélite</p>
                                        <span>
                                            
                                        </span>
                                    </div>
                                </div>
                            </li>
                            <li class="card">
                              
                                 
                                </a>
                                <span class="card__tag">Estrelas</span>
                                <div class="card__info">
                                    <p class="card__titulo">Galáxia Cartwheel 2</p>
                                    <div class="card__texto">
                                        <p class="card__descricao">Fonte/fotógrafo/satélite</p>
                                        <span>
                                      
                                        </span>
                                    </div>
                                </div>
                            </li>
                            <li class="card">
                            
                    
                                </a>
                                <span class="card__tag">Planeta</span>
                                <div class="card__info">
                                    <p class="card__titulo">Júpiter</p>
                                    <div class="card__texto">
                                        <p class="card__descricao">Fonte/fotógrafo/satélite</p>
                                        <span>
                                       
                                        </span>
                                    </div>
                                </div>
                            </li>
                            <li class="card">

                                </a>
                                <span class="card__tag">Nebulosa</span>
                                <div class="card__info">
                                    <p class="card__titulo">Nebulosa Anel Sul</p>
                                    <div class="card__texto">
                                        <p class="card__descricao">Fonte/fotógrafo/satélite</p>
                                        <span>
                                     
                                        </span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </section>
            </section>
        </main>
    </div>
    <footer class="rodape">
        <div class="rodape__icones">
           
                
            </a>

            </a>
        </div>
        <p class="rodape__texto">Aluno</p>
    </footer>
</body>
{% endblock %} 