{% extends "base.html" %}
{% block content %}

<body>
    <div class="pagina-inicial">
        <header class="cabecalho">
         
                 
                </div>
            </div>
        </header>
        <main class="principal">
            <section class="menu-lateral">
                <nav class="menu-lateral__navegacao">
                  
                </nav>
            </section>
            <section class="conteudo">
                <section class="banner">
                  
                    <h1 class="banner__titulo"> INFOMED</h1>
                </section>
                <section class="tags">
                    
                    <ul class="tags__lista">
                        <li class="tags__tag">Home</li>
                        <li class="tags__tag">Agendar</li>
                        <li class="tags__tag">Serviços</li>
                        <li class="tags__tag">Resultados</li>
                        <li class="tags__tag">Mais</li>
                    </ul>
                </section>
                <section class="galeria">
                    <div class="cards">
                        <h2 class="cards__titulo">Conhceça nossos serviços</h2>
                        <ul class="cards__lista">
                            <li class="card">
                              
                                   
                                </a>
                                <span class="card__tag">Consultas</span>
                                <div class="card__info">
                                    <p class="card__titulo">Cardiologia</p>
                                    <img src="../static/img/cardiologia.jpg" alt="Imagem cardiologia">
                                    <div class="card__texto">
                                        <p class="card__descricao">Imagem ilustrativa</p>
                                        <span>
                                          
                                        </span>
                                    </div>
                                </div>
                            </li>
                            <li class="card">
                              
                                  
                                </a>
                                <span class="card__tag">Consultas</span>
                                <div class="card__info">
                                    <p class="card__titulo">Dermatologia</p>
                                    <img src="../static/img/dermatologia.jpg" alt="imagem dermatologia">
                                    <div class="card__texto">
                                        <p class="card__descricao">Imagem ilustrativa</p>
                                        <span>
                                        
                                        </span>
                                    </div>
                                </div>
                            </li>
                            <li class="card">
                            
                              
                                </a>
                                <span class="card__tag">Consultas</span>
                                <div class="card__info">
                                    <p class="card__titulo">Fisioterapia</p>
                                    <img src="../static/img/fisioterapia.jpg" alt="imagem fisioterapia">
                                    <div class="card__texto">
                                        <p class="card__descricao">Imagem ilustrativa</p>
                                        <span>
                                            
                                        </span>
                                    </div>
                                </div>
                            </li>
                            <li class="card">
                              
                                 
                                </a>
                                <span class="card__tag">Consultas</span>
                                <div class="card__info">
                                    <p class="card__titulo">Ginecologia</p>
                                    <img src="../static/img/ginecologia.jpeg" alt="imagem ginecologia">
                                    <div class="card__texto">
                                        <p class="card__descricao">Imagem ilustrativa</p>
                                        <span>
                                      
                                        </span>
                                    </div>
                                </div>
                            </li>
                            <li class="card">
                            
                    
                                </a>
                                <span class="card__tag">Consultas</span>
                                <div class="card__info">
                                    <p class="card__titulo">Hematologia</p>
                                    <img src="../static/img/hematologia.jpg" alt="imagem hematologia">
                                    <div class="card__texto">
                                        <p class="card__descricao">Imagem ilustrativa</p>
                                        <span>
                                       
                                        </span>
                                    </div>
                                </div>
                            </li>
                            <li class="card">

                                </a>
                                <span class="card__tag">Exames</span>
                                <div class="card__info">
                                    <p class="card__titulo">Laboratório</p>
                                    <img src="../static/img/laboratorios.jpeg" alt="imagem laboratorios">
                                    <div class="card__texto">
                                        <p class="card__descricao">Imagem ilustrativa</p>
                                        <span>
                                     
                                        </span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </section>
            </section>
        </main>
    </div>
    <footer class="rodape">
        <div class="rodape__icones">
           
                
            </a>

            </a>
        </div>
        <section class="tags">
                    
            <ul class="tags__lista">
                <li class="tags__tag">Home</li>
                <li class="tags__tag">Agendar</li>
                <li class="tags__tag">Serviços</li>
                <li class="tags__tag">Resultados</li>
                <li class="tags__tag">Endereços</li>
                <li class="tags__tag">Quem somos</li>
                <li class="tags__tag">Contatos</li>
            </ul>
        </section>
        
    </footer>
</body>
{% endblock %} 